.headline {
  height: 100px;
  width: 100px;
  margin: 7% 0%;
}

main {
  overflow: scroll;
  display: flex;
  flex-flow: wrap;
}

article {
  width: 48%;
  background-color: #F9F68A;
  margin: 1%;
  padding: 3%;
}

a {
  background-color: #55A5FF;
  color: midnightblue;
  display: block;
  margin-top: 3%;
}
