.headline {
  height: 100px;
  width: 100px;
}

main {
  overflow: scroll;
  display: flex;
  flex-flow: wrap;
}

article {
  width: 50%;
  /* background-color: white; */
  border: 2px solid white;
}

a {
  background-color: orange;
}
