input, button {
  background: white;
  height: 50px;
}

input {
  width: 60vw;
}

button {
  color: black;
  font-weight: bold;
  border-radius: 10%;
  width: 6vw;
  align-self: center;
}

#search {
  padding: 0%;
}

form {
  display: flex;
}

.search-bar {
  margin-right: 0%;
}
